:root {
    --EOTNred: #f00;
    --EOTNwhite: #DFDADA;
    --EOTNgrey: #bbb;
}

/* BLOG / PHOTO BLOG / BLOG-GALLERY MIX GLOBAL STYLES */

html {
    -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	box-sizing: inherit;
  }
  
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: black;
    color: var(--EOTNwhite);
    font-family: "Alegreya Sans", Verdana, Geneva, Tahoma, sans-serif;
}

::selection {
    background: var(--EOTNred);
}

h1 {
    font-weight: 300;
    color: var(--EOTNred);
    font-size: clamp(2rem, 13vw, 3.5rem);
    word-break: break-word;
    margin-bottom: 0px;
}

h2 {
    font-weight: 400;
    font-size: clamp(1.5rem, 9vw, 2.3rem);
    color: var(--EOTNwhite);
    word-break: break-word;
    margin-bottom: 0px;
}

p {
    font-weight: 300;
    color: var(--EOTNwhite);
    word-break: break-word;
    font-size: 1.1rem;
}

main a {
    text-decoration: none;
    color: var(--EOTNred);
    padding: 0 0.2em;
}

main a:hover,
main a:focus  {
    color: white;
    background: var(--EOTNred);
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
 }

/* a:hover, a:focus {
    background-color: var(--EOTNred);           
} */

/* HEADER - logo */

.header {
    max-width: 75vw;
    margin: 3rem auto;
}

.logo__wrapper {
    display: block;
}

.logo__img {
    display: block;
    margin: 4rem auto;
}

/* MAIN - POSTS - STYLES */

.main__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 2rem 30%;
}

/* wider container for Photoblog */
body.photoblog .main__container {
    margin: 2rem 0;
}

.post {
    margin: 2.5rem auto;
}

/* Post margins on Photoblog */
body.photoblog .post {
    margin: 2.5rem 0;
}

body.photoblog .post__title,
body.photoblog .post__text {
    margin: 2.5rem 25%;
}

.post__img,
.post__img--wide {
    max-width: 1600px;
    max-height: 90vh;
}

.post__img {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
}

.post__img--wide {
    width: 100%;
    object-fit: contain;
}


/* BLOG PAGES - MOBILES or SCREENS IN PORTRAIT MODE */
/* ta-daa ⊹╰(⌣ʟ⌣)╯⊹ */

@media screen and (orientation: portrait), screen and (max-width: var(--breakpoint-s))
{
    .main__container {
        margin: 1rem 10%;
    }

    body.photoblog .post {
        margin: 2.5rem 0;
    }
    
    body.photoblog .post__title,
    body.photoblog .post__text {
        margin: 1.5rem 5%;
    }
}