:root {
    --EOTNred: #f00;
    --EOTNwhite: #DFDADA;
    --EOTNgrey: #bbb;
}

/* 
MOST CLASS NAMES USE BEM

GALLERY TYPE SUBPAGES are using the same body called 'gallery' 
*/

/* GALLERY GLOBAL STYLES */

html {
    -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	box-sizing: inherit;
  }
  
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: black;
    color: var(--EOTNwhite);
}

body.gallery {
    font-family: "Alegreya Sans", Verdana, Geneva, Tahoma, sans-serif;
}

::selection {
    background: var(--EOTNred);
}

body.gallery h1 
{
    color: var(--EOTNred);
}

body.gallery h2 
{
    font-weight: 400;
    color: var(--EOTNwhite);
}

body.gallery p 
{
    font-weight: 300;
    color: var(--EOTNwhite);
}

body.gallery a:hover,
body.gallery a:focus {
    background-color: var(--EOTNred);           
}

figure {
    text-align: center;
    font-size: smaller;
}

.flex-page-container {
    width: 100%;
    padding: 2rem 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* HEADER - logo + text - STYLES */

.header {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.logo__wrapper {
    display: block;
}

.logo__img {
    display: block;
    margin: 4rem auto;
}

.summary__wrapper {
    text-align: center;
}

.summary__heading {
    display: inline;
    font-size: larger;
    font-weight: 400;
}

.summary__span {
    color: var(--EOTNgrey);
}

.summary__link {
    text-decoration: none;
    color: var(--EOTNgrey);
 }

.summary__link a:hover,
.summary__link a:focus {
background-color: var(--EOTNred);     
}

/* MAIN - artwork - STYLES */

.main__container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.artwork__wrapper {
    margin: 2.5rem 5%;
}

.artwork__img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

/* TODO: 
⊹╰(⌣ʟ⌣)╯⊹ */

/* FROM TRELLO:
DESKTOP: odstęp między nazwą kategorii w czerwonym kolorze i "przejdź do innej" powinien być jednak nieco większy. Tam jest jedna spacja i wygląda to dziwnie.

Kolor pozostałych kategorii itd. powinien być ciemniejszy szary, inny niż tekst

MOBILE: obrazki są jakieś małe - da się je rozciągnąć nieco?

jeszcze jedna rzecz - nie przewidziałem tego wcześniej, przerpaszam. Jak obrazki są w rozmiarze oryginalnym to są czasem bardzo wysokie, więc aby je obejrzeć w całości trzeba je skrolować. Dałoby się coś z tym zrobić? Jakaś ich max wysokość?


*/

/* GALLERY PAGES MOBILES */