:root {
    --EOTNred: #f00;
    --EOTNwhite: #DFDADA;
    --EOTNgrey: #666;
}

/* 
MOST CLASS NAMES USE BEM

GALLERY TYPE SUBPAGES are using the same body called 'gallery' 
*/

/* GALLERY GLOBAL STYLES */

html {
    -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	box-sizing: inherit;
  }
  
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: black;
    color: var(--EOTNwhite);
}

body.gallery {
    font-family: "Alegreya Sans", "Gill Sans", Verdana, Tahoma, sans-serif;
}

::selection {
    background: var(--EOTNred);
}

body.gallery h1 
{
    color: var(--EOTNred);
}

body.gallery h2 
{
    font-weight: 400;
    color: var(--EOTNwhite);
}

body.gallery p 
{
    font-weight: 300;
    color: var(--EOTNwhite);
}

body.gallery a:hover,
body.gallery a:focus {
    color: white;
    background: var(--EOTNred);
    transition: all 0.2s ease-in-out;
}     

.flex-page-container {
    width: 100%;
    padding: 2rem 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* HEADER - logo + text - STYLES */

.header {
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}

.logo__wrapper {
    display: block;
}

.logo__img {
    display: block;
    margin: 4rem auto;
}

.summary__wrapper {
    text-align: center;
}

.summary__heading {
    display: inline;
    font-size: larger;
    font-weight: 400;
    padding-right: .5em;
}

.summary__span {
    color: var(--EOTNwhite);
}

.summary__link {
    text-decoration: none;
    color: var(--EOTNgrey);
 }

.summary__link a:hover,
.summary__link a:focus {
background-color: var(--EOTNred);     
}

/* MAIN - artwork - STYLES */

.main__container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.artwork__wrapper {
    margin: 2.5rem 5%;
    text-align: center;
    font-size: smaller;
}

.artwork__img {
    max-width: 100%;
    max-height: 85vh;
    margin: 0 auto;
    display: block;
}

/* GALLERY PAGES MOBILES or SCREENS IN PORTRAIT MODE */
/* ta-daa ⊹╰(⌣ʟ⌣)╯⊹ */

@media screen and (orientation: portrait), screen and (max-width: var(--breakpoint-s))
{
    .flex-page-container {
        padding: 1.5rem 5%;
    }

    .artwork__wrapper {
        margin: 1.5rem 2%;
    }
}




